<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <h1><img src="sick.png"width = 250px height = 250px/></h1>
    <h1>Medical Clinic</h1>
    <body>
        <a href = "/newDoctor">New Doctor</a>
        <a href = "/listDoctors">List Doctors</a>
        <a href = "/newPatient">New Patient</a>
        <a href = "/listPatients">List Patients</a>
        <a href = "/updateDoctor">Update Doctor</a>
        <a href = "/deletePatient">Delete Patient</a>
        <a href="/deleteDoctor">Delete Doctor</a><br>
    </body>
</html>