<html>

<h1>Update Doctor</h1>

<head>
    <link rel="stylesheet" href="styles.css">
</head>
<a href = "/">Home</a>
<a href = "/newDoctor">New Doctor</a>
<a href = "/listDoctors">List Doctors</a>
<a href = "/newPatient">New Patient</a>
<a href = "/listPatients">List Patients</a>
<a href = "/updateDoctor">Update Doctor</a>
<a href = "/deletePatient">Delete Patient</a>
<a href="/deleteDoctor">Delete Doctor</a><br>

<body>
    <form method="POST" action="/updateDocPatients"><br>
        Doctor ID<input type="text" name="docID" /><br>
        Number of Patients<input type="number" name="numPatients" /><br>
        <button type="submit">Update Patients</button>
    </form>
</body>

</html>